<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
    <style>
        .pos {vertical-align: sub; color: blue; font-size: 70%;}
        .result {font-size: 24px;}
    </style>
</head>
<body>
	<h1>Автор этого сайта - Анастасия Ожеред</h1>
	<p>Исходный код можно посмотреть по ссылке <a href="https://github.com/ozheredka/homework">https://github.com/ozheredka/homework</a></p>
	<p>Список приложений на сайте: </p>
	<ul>
		<li><a href="/verbform">Анализ глаголов в тексте</a></li>
		<li><a href="/VKapi">Количество подписчиков в группах ВКонтакте</a></li>
	</ul>
	
</body>
</html>