<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Программа-бот</title>
    <style>
        .pos {vertical-align: sub; color: blue; font-size: 70%;}
        .result {font-size: 24px;}
    </style>
</head>
<body>
	<a href="/">Вернуться на главную</a>
    <form method='post'>
        <h1>Ваш текст:</h1>
        <textarea rows="2" cols="40" name="text">{{ input }}</textarea>
        <br>
        <input type="submit" value="Ответ">
    </form>

    {% if text %}
        <h1>Ответ:</h1>
        <p class="result"> {{ text | safe}}</p>
    {% endif %}

</body>
</html>